In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select 

import pandas as pd
import numpy as np
import sqlite3
import re

# Web scraping

In [116]:
driver = webdriver.Chrome(r'C:\Users\panda\Downloads\chromedriver-win32\chromedriver')
# get to the website
driver.get(f"https://www.cia.gov/the-world-factbook/field/ethnic-groups/")

texts = driver.find_elements(By.CLASS_NAME, 'pb30')

C:\Users\panda\AppData\Local\Temp\ipykernel_21640\3124568031.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\panda\Downloads\chromedriver-win32\chromedriver')

## Ethnic1

In [139]:
Location = []
val = []
for t in texts:
    str = t.text
    try:
        country = str.split('\n')[0]
        Location.append(country)
    except:
        Location.append(np.nan)

    numeric_const_pattern = r"""
        [-+]? # optional sign
        (?:
            (?: \d* \. \d+ ) # .1 .12 .123 etc 9.1 etc 98.1 etc
            |
            (?: \d+ \.? ) # 1. 12. 123. etc 1 12 123 etc
        )
        # followed by optional exponent part if desired
        (?: [Ee] [+-]? \d+ ) ?
        """
    rx = re.compile(numeric_const_pattern, re.VERBOSE)
    x = rx.findall(str)
    try:
        value = x[0]
        # print(value)
        val.append(value)
    except:
        val.append(np.nan)


    
    # try:
    #     x = re.findall("\d+\.\d+", str) #find all the floating numbers in the string
    #     value = float(x[0])
    #     print(value)
    #     if value <= 100:
    #         val.append(value)
    #     else:
    #         val.append(np.nan)
    # except:
    #     val.append(np.nan)
    # else:
    #     x = re.findall('[0-9]+', str) #find all the integers in the string
    #     value = int(x[0])
    #     print(value)
    #     if value <= 100:
    #         val.append(value)
    #     else:
    #         val.append(np.nan)

df = pd.DataFrame({'Location': Location,
                  'val': val})
df.val = df.val.apply(pd.to_numeric, errors='coerce')
df = df[~df.Location.isna()]
df = df[~df.val.isna()]
df = df[df['val'] <= 100]
df.rename(columns={'val': '2024'}, inplace=True)
df.loc[df['Location'] == 'Taiwan', '2024'] = 70
df.loc[df['Location'] == 'United Arab Emirates', '2024'] = 59.4
df.loc[df['Location'] == 'Suriname', '2024'] = 27.4
df.loc[df['Location'] == 'Malaysia', '2024'] = 52.8
df.loc[df['Location'] == 'Kuwait', '2024'] = 40.3

country = pd.read_excel('Country.xlsx')
df = country.merge(df,
                   on = 'Location',
                   how = 'left')
df = df.drop(axis=1, columns=['Location'])
df

# Then merge with the old data in IFsHistSeries

,Country,FIPS_CODE,2007,2011,2024,Earliest,MostRecent
0,Afghanistan,AFG,42.0,42.0,NaN,42.0,42.0
1,Albania,ALB,95.0,95.0,82.6,95.0,82.6
2,Algeria,DZA,99.0,99.0,99.0,99.0,99.0
3,Angola,AGO,37.0,37.0,37.0,37.0,37.0
4,Argentina,ARG,97.0,97.0,97.2,97.0,97.2
...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,67.0,NaN,NaN,67.0,67.0
184,Viet Nam,VNM,87.5,85.7,85.3,87.5,85.3
185,Yemen,YEM,90.0,NaN,NaN,90.0,90.0
186,Zambia,ZMB,98.7,99.5,21.0,98.7,21.0
187,Zimbabwe,ZWE,98.0,98.0,99.6,98.0,99.6

## Ethnic2

In [140]:
Location = []
val = []
for t in texts:
    str = t.text
    try:
        country = str.split('\n')[0]
        Location.append(country)
    except:
        Location.append(np.nan)

    numeric_const_pattern = r"""
        [-+]? # optional sign
        (?:
            (?: \d* \. \d+ ) # .1 .12 .123 etc 9.1 etc 98.1 etc
            |
            (?: \d+ \.? ) # 1. 12. 123. etc 1 12 123 etc
        )
        # followed by optional exponent part if desired
        (?: [Ee] [+-]? \d+ ) ?
        """
    rx = re.compile(numeric_const_pattern, re.VERBOSE)
    x = rx.findall(str)
    try:
        value = x[1]
        # print(value)
        val.append(value)
    except:
        val.append(np.nan)

df = pd.DataFrame({'Location': Location,
                  'val': val})
df.val = df.val.apply(pd.to_numeric, errors='coerce')
df = df[~df.Location.isna()]
df = df[~df.val.isna()]
df = df[df['val'] <= 100]
df.rename(columns={'val': '2024'}, inplace=True)
df.loc[df['Location'] == 'Taiwan', '2024'] = 25
df.loc[df['Location'] == 'United Arab Emirates', '2024'] = 11.6
df.loc[df['Location'] == 'Suriname', '2024'] = 21.7
df.loc[df['Location'] == 'Malaysia', '2024'] = 20.6
df.loc[df['Location'] == 'Iraq', '2024'] = 20
df.loc[df['Location'] == 'Turkey (Turkiye)', '2024'] = 19
df.loc[df['Location'] == 'Norway', '2024'] = 8.9
df.loc[df['Location'] == 'Israel', '2024'] = 21.1
df.loc[df['Location'] == 'Dominican Republic', '2024'] = 15.8
df.loc[df['Location'] == 'Kuwait', '2024'] = 30.4
country = pd.read_excel('Country.xlsx')
df = country.merge(df,
                   on = 'Location',
                   how = 'left')
df = df.drop(axis=1, columns=['Location'])
df

# Then merge with the old data in IFsHistSeries

,Country,FIPS_CODE,1997,2011,2024,Earliest,MostRecent
0,Afghanistan,AFG,27.0,27.0,NaN,27.0,27.0
1,Albania,ALB,3.0,3.0,0.9,3.0,0.9
2,Algeria,DZA,1.0,1.0,1.0,1.0,1.0
3,Angola,AGO,25.0,25.0,25.0,25.0,25.0
4,Argentina,ARG,3.0,3.0,2.4,3.0,2.4
...,...,...,...,...,...,...,...
183,"Venezuela, Bolivarian Republic",VEN,21.0,NaN,NaN,21.0,21.0
184,Viet Nam,VNM,3.0,1.9,1.9,3.0,1.9
185,Yemen,YEM,5.0,NaN,NaN,5.0,5.0
186,Zambia,ZMB,1.1,0.5,13.6,1.1,13.6
187,Zimbabwe,ZWE,1.0,14.0,0.4,1.0,0.4